<div class="userName" style="width: 40%;
    height: 10vh;
    position: fixed;
    top: 5%;
    left: 5%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 20px; @media screen and (max-width:935px){
        .userName{
                width: 80%;
                height: 7vh;
                left: 10%;
            }
    }"> Hello!!!  <%= data.name%> 
</div>